

body {background-image: url("../img/background-branco.jpg");
       background-repeat: round;
       font-family: courier new;

  }

  .container { width: 80%;
              margin-left: auto;
              margin-right: auto;
  }

 header, footer { background-color: rgba(100,149,237, 0.5);
                  padding: 2%;

 }

 h1 { text-align: center;
      font-size: 50px;
      text-transform: uppercase;
      border-style: solid;
      border-color: #191970;
      margin-top: 2%;
      margin-bottom:2%;
  }

 h2 { text-align: center;
 	  font-size: 40px;
 	  text-transform: uppercase;
 	  border-style: solid;
 	  border-color: #191970;
    margin-top: 2%;
    margin-bottom:2%;

  }

  figure {text-align: center; 

  }

  img { width: 70%

  }

  p {font-size: 35px;
  	 font-family: "arial";
  	 text-align: justify;
     margin-top: 2%;
    margin-bottom:2%;

  }

  .centro {text-align: center;
           color: #191970;

}

  ul li, ol li {font-size: 35px;
  	 font-family: "arial";
  	 text-align: justify;
     margin-top: 2%;
     margin-bottom:2%;

   }

   a { color: #191970;
       text-decoration: underline;
       font-size: 30px;

   }

   table { font-family: "courier new";
           width: 1000px;
           font-size: 35px;
    
   }

   th, td { text-align: center;
            border: solid;
            border-color:#191970;



  }
  

