

body {background-image: url("../img/background_violet.jpg");
       background-repeat: round;

  }

 h1 { text-align: center;
 	  font-family: "courier new";
 	  color: #fff;
      font-size: 45px;
      text-transform: uppercase;
      border-style: solid;
      border-color: #191970;
  }

 h2 { text-align: center;
 	  font-family: "courier new";
 	  font-size: 30px;
 	  text-transform: uppercase;
 	  color: #fff;
 	  border-style: solid;
 	  border-color: #191970;

  }

  figure {text-align: center; 

  }

  img { width: 75%

  }

  p {font-size: 25px;
  	 font-family: "arial";
     color: #fff;
  	 text-align: justify;

  }

  ul li, ol li {font-size: 25px;
  	 font-family: "arial";
  	 text-align: justify;
     color: #fff;

   }

   a { color: #ADD8E6;
       text-decoration: underline;
       font-size: 30px;

   }

   table { color: #fff;
           font-family: "courier new";
           width: 1200px;
           font-size: 25px;
           border-collapse: collapse;
    
   }

   th, td { text-align: center;
            border: solid;
            border-color:#191970;



  }
  

